<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ticketpark.tp_movie.mapper.MoviesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ticketpark.tp_movie.entity.Movies">
        <id column="movieid" property="movieid" />
        <result column="moviename" property="moviename" />
        <result column="description" property="description" />
        <result column="ticketprice" property="ticketprice" />
        <result column="inventory" property="inventory" />
        <result column="image_url" property="imageUrl" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        movieid, moviename, description, ticketprice, inventory, image_url
    </sql>

</mapper>
